.lmj-cart {
    color: white;
    /*  background-color: #31b572;*/
    background: #31b572;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B5AC49, #31b572);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #31b572);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: fixed;
    margin-top: 100px;
    font-family: 'Murecho', sans-serif;
}

.lmj-cart-add-button {
    margin-left: 32px;
    cursor: pointer;
}

.lmj-cart-toggle-button {
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    align-self: self-start;
    padding: 0;
    color: white;
}

.lmj-cart-closed {
    padding: 1rem;

}

.lmj-img-panier {
    display: flex;
    flex-direction: column;
    width: 5em;
}

.lmj-txt-panier {
    color: #691207;
}

