.lmj-categories {
    text-align: center;
    padding-top: 30px;
}

.lmj-categories-select {
    margin-right: 15px;
    background: #31b572;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B5AC49, #31b572);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B5AC49, #31b572);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    cursor: pointer;
    color: #691207;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ced9bf;
}