.lmj-plant-item-cover {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.lmj-plant-item {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}